<div class="container">
  <div class="row justify-content-center">
      <div class="col-5 box">
			<div class="logo">
				<h2>SMYDATA</h2>
			</div>
			<span class="my-2 text-center" *ngIf="loginErr">
	          <strong class="text-danger">Login failed! Invalid mobile/password
	          </strong>
	        </span>
			<div class="">
				<form (ngSubmit)="onSubmit();" #signin="ngForm" class="login-form">
								<div class="form-group">
									<div class="input-group mb-2 mr-sm-2 inputBx" [ngClass]="focusMobile">
										 <div class="input-group-prepend">
											 <div class="input-group-text grpTxt">
												 <i class="fa fa-phone-square" aria-hidden="true"></i>
											 </div>
										 </div>
                     <input type="text" id="mobile" maxlength="10" placeholder="Mobile"
                        required (focus)="focusFunction(mobile.pristine,mobile.valid,'focus','focusMobile')"
                        autocomplete="off" (focusout)="focusFunction(mobile.pristine,mobile.valid,'outfocus','focusMobile')"

                        [(ngModel)]="model.mobile" name="mobile"  pattern="[0-9]{10}"
                        #mobile="ngModel"/>
									 </div>
                    <div class="errMsg" *ngIf="!model.mobile" [hidden]="mobile.pristine">
                      <span>Mobile number is required </span>
                    </div>
                    <div class="errMsg" *ngIf="model.mobile" [hidden]="mobile.valid">
                      <span>Please provide valid mobile number</span>
                    </div>
								</div>
								<div class="form-group">
									<div class="input-group mb-2 mr-sm-2 inputBx" [ngClass]="focusPassword">
										 <div class="input-group-prepend">
											 <div class="input-group-text grpTxt">
												<i class="fa fa-key"></i>
											 </div>
										 </div>
                     <input type="password" id="password"
                     (focus)="focusFunction(password.pristine,password.valid,'focus','focusPassword')" (focusout)="focusFunction(password.pristine,password.valid,'outfocus','focusPassword')"
                      required autocomplete="off" placeholder="Password"
                      [(ngModel)]="model.password" name="password"
                      #password="ngModel"/>
									 </div>
                   <div class="errMsg" [hidden]="password.pristine || password.valid">
                     <span>Password is required </span>
                   </div>
								</div>
                <div class="row justify-content-center">
                  <div class="col-8">
                    <button type="submit" [className]="signin.form.valid ? 'btn btn-block btn-success' : 'btn btn-block btn-default'"  [disabled]="!signin.form.valid" name="button">LOG IN</button>
                  </div>
                </div>
				</form>
			</div>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <div class="col-4">
      <div class="my-2">
      <span>Don't have an account?
        <span routerLink="/signUp" class="reglink">Register here</span>
      </span>
    </div>
    <div class="">
      <span>Forgot your password?
        <span data-toggle="modal" (click)="errMsg = mobileNumVal =''" data-target="#myModal" class="reglink">Reset password</span>
      </span>
    </div>
    </div>
  </div>
</div>

<!-- Reset Password -->
<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog" >
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
				<br><br>
        <div class="modal-header">
					  <h2 class="modal-title">Reset Password</h2>
          <button type="button" class="close" id="modalWindow" data-dismiss="modal" #closeAddExpenseModal >&times;</button>
        </div>
        <span class="my-2 text-center" *ngIf="errMsg">
          <strong class="text-danger">Mobile Number does not exist.&nbsp;
          <span data-dismiss="modal" routerLink="/signUp" class="text-primary link">click here</span>&nbsp;to register
          </strong>
        </span>
        <div class="modal-body">
					<form (ngSubmit)="sendOtp();" #otp="ngForm" class="otp-form">
					<div class="form-group">
						<label for="mobileNum">Enter Mobile Number:</label>
            <div class="form-group">
              <div class="input-group mb-2 mr-sm-2 inputBx" [ngClass]="focusMobile">
                 <div class="input-group-prepend">
                   <div class="input-group-text grpTxt">
                     <i class="fa fa-phone-square" aria-hidden="true"></i>
                   </div>
                 </div>
                 <input type="text"  maxlength="10" placeholder="Mobile"
                    required
                    autocomplete="off"
                    required  pattern="[0-9]{10}" maxlength="10"
 									 (keyup)="doesUserExist(mobileNumVal);"
 		               [(ngModel)]="mobileNumVal" name="mobileNum" #mobileNum=ngModel/>
               </div>
               <div class="errMsg" *ngIf="!mobileNumVal" [hidden]="mobileNum.pristine">
                 <span>Mobile number is required </span>
               </div>
               <div class="errMsg" *ngIf="mobileNumVal" [hidden]="mobileNum.valid">
                 <span>Please provide valid mobile number</span>
               </div>
            </div>
					</div>
					<button  type="submit" class="btn btn-primary btn-md" [disabled]="!otp.form.valid && errMsg">Send OTP</button>
				</form>
        </div>
      </div>
    </div>
  </div>
</div>
