.logo{
  text-align: center;
  margin: 40px 0px 50px 0px;
}
.box{
box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
background-color: #ffffff;
padding: 25px;
}
.inputBx{
  border: solid 1px #e3e3e3;
  padding: 3px;
}
.grpTxt{
  border: none;
  background-color: #ffff;
}
.errMsg{
  margin-top: -10px;
  color: red;
}
.reglink{
  color:#003B46;
}
.reglink:hover{
  cursor: pointer;
  text-decoration: underline;
}
input:focus{
    outline: none;
}
.focusGreen{
  border: 1px solid green;
}
.focusRed{
  border: 1px solid red;
}
input{
  border: none;
  width: 90%;
}
.link{
  cursor: pointer;
}
