<div class="p-3">
<div class="text-center">
  <h2>Welcome To SMYDATA</h2>
</div>
<div class="row textfamily">
  <div class="col-md-2 col-sm-4 textStyle mt-5">
    <div class="list-group mt-4" id="list-tab" role="tablist" [style.margin-top.px]="buPlanCss">
      <a class="list-group-item list-group-item-action listcss"  data-toggle="list" role="tab" routerLink="/individualData">Individual</a>
      <a class="list-group-item list-group-item-action listcss"  data-toggle="list" role="tab" routerLink="/businessData">Business</a>
    </div>
  </div>
  <div class="col-md-10 col-sm-8">
<div class="example-header" style="margin-top:8px; width:20%">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="reg_id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.reg_id}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>

      <!-- Mobile Column -->
    <ng-container matColumnDef="mobile">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Mobile </mat-header-cell>
      <mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.mobile}} </mat-cell>
    </ng-container>

    <!-- State Column -->
    <ng-container matColumnDef="state">
      <mat-header-cell *matHeaderCellDef mat-sort-header> State </mat-header-cell>
      <mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.state}} </mat-cell>
    </ng-container>

    <!-- City Column -->
    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef mat-sort-header> City </mat-header-cell>
      <mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.city}} </mat-cell>
    </ng-container>

    <!-- Country Column -->
    <ng-container matColumnDef="country">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Country </mat-header-cell>
      <mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.country}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

</div>
</div>
</div>
