
<div class="row textfamily">
  <div class="col-md-2 col-sm-4 textStyle">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action listcss"  data-toggle="list" role="tab" routerLink="/individualDetails/payables">Payables</a>
      <a class="list-group-item list-group-item-action listcss"  data-toggle="list" role="tab" routerLink="/individualDetails/receivables">Receivables</a>
      <a class="list-group-item list-group-item-action listcss"  data-toggle="list" role="tab" routerLink="/individualDetails/reports">Report</a>
    </div>
  </div>
  <div class="col-md-10 col-sm-8">
      <router-outlet class="tab-pane fade"></router-outlet>
  </div>
</div>
