<div class="row justify-content-center" *ngIf='!resetPwd && !regSuccess'>
<div class="cstyle">
  <form (ngSubmit)="verifyOtp(); otpVerify.reset()" #otpVerify="ngForm" class="otp-verify">
    <div *ngIf='invalidOtp' class="alert alert-danger" (click)="invalidOtp = false">
      <strong>Invalid OTP</strong>
    </div>
  <div class="form-group">
    <label for="otp">Enter the one time password (OTP) that was sent to your mobile:</label>
    <input type="text" class="form-control" id="otp"
           required
           [(ngModel)]="otpValue" name="otp"
           #otp="ngModel"/>
  </div>
  <button type="submit" class="btn btn-success fntcss wd" >Submit</button>
  <button (click)="sendOtp();invalidOtp=false" class="btn btn-primary fntcss" >Resend OTP</button>
  </form>
</div>
</div>
<div class=" row justify-content-center m-3 alert alert-success" *ngIf='regSuccess'>
  <strong>Your registration is successful !!&nbsp;&nbsp; </strong>
   <span class="clickhere" (click)="successReg()"> Click here &nbsp;</span> to LogIn.
</div>

<div *ngIf='resetPwd'  class="row justify-content-center" id="resetPswd">
  <form (ngSubmit)="resetPswd(); pwdReset.reset()" #pwdReset="ngForm" class="pwd-form cstyle">
    <div *ngIf='errorDisplay' class="alert alert-danger"  (click)="errorDisplay = false">
      <strong>{{errMsg}}</strong>
    </div>
  <div class="form-group">
    <label for="mobileNum">New Password:</label>
    <input type="password" class="form-control" id="pwd"
           required
           [(ngModel)]="pwdValNew" name="pwd"
           #pwd="ngModel"/>
    <div [hidden]="pwd.valid || pwd.pristine"
         class="alert alert-danger">
       Password is required
    </div>
  </div>
  <div class="form-group">
    <label for="mobileNum">Confirm Password:</label>
    <input type="password" class="form-control" id="Cpwd"
           required
           [(ngModel)]="pwdValCnf" name="Cpwd"
           #Cpwd="ngModel"/>
    <div [hidden]="Cpwd.valid || Cpwd.pristine"
         class="alert alert-danger">
       Password is required
    </div>
  </div>
  <button  type="submit" class="btn btn-success btn-block fntcss" [disabled]="!pwdReset.form.valid">Submit</button>
</form>
</div>

<!-- <div class="container" *ngIf='successRegPopUp'>
    <div class="modal show fade" id="myModalRegister" role="dialog" >
    <div class="modal-dialog">
      <div class="modal-content">
				<br><br>
        <div class="modal-body">
          <h4>Your sign up was successful click continue to logIn to  your account</h4>
					<button  type="submit" class="btn btn-primary btn-md" routerLink="/signIn">Continue</button>
        </div>
      </div>
    </div>
  </div>
</div> -->
