<div class="row cstyle justify-content-center">
 <div class="">
   <h2> My BusinessPlan </h2>
  </div>
</div>
<div class="row justify-content-center">
  <ul class="nav nav-tabs">
  <li class="nav-item">
    <span class="nav-link listcss" id="nav-home-tab" data-toggle="tab" routerLink="/userData/businessPlan" role="tab" aria-controls="nav-home" aria-selected="true">Rewards</span>
  </li>
  <li class="nav-item">
    <span class="nav-link listcss active" id="nav-profile-tab" data-toggle="tab" routerLink="/userData/discounts" role="tab" aria-controls="nav-profile" aria-selected="false">Discounts</span>
  </li>
  <li class="nav-item ">
    <span class="nav-link listcss" id="nav-contact-tab" data-toggle="tab"routerLink="/userData/invoiceTemplate" role="tab" aria-controls="nav-contact" aria-selected="false">Invoice</span>
  </li>
</ul>
</div>

<div class="row cstyle pt-2">
  <div class="col"></div>
    <div class="col-3">
      <h4>My Poduct Discounts</h4>
    </div>
    <div class="col-2">
      <div *ngIf="!isDataExist">
        <label class="switch">
          <input type="checkbox" [(ngModel)]='discounts.enableDiscount'>
          <span class="slider round"></span>
        </label>
      </div>
      <div *ngIf="isDataExist && discounts?.length > 0">
        <label class="switch">
          <input type="checkbox" [(ngModel)]='discounts[0].enableDiscount'>
          <span class="slider round"></span>
        </label>
      </div>
    </div>
    <div class="col"></div>
</div>

<div class="row cstyle" style="overflow:auto; min-height:302px">
  <div class="col"></div>
 <div class="panel panel-info inbxTxt col-md-12">
     <div class="panel-body tableFlow">
         <table class="table table-hover">
           <thead>
             <tr>
               <th>Min Amount</th>
               <th>Max Amount</th>
               <th>Discount</th>
               <th>Start Date</th>
               <th>End Date</th>
               <th>Enable/Disable</th>
               <th>
                   <button type="button" (click)='addRow(0)' class="btn btn-success btn-sm">
                     <span>+</span>
                   </button>
             </th>
             </tr>
           </thead>
           <tbody>
             <tr *ngFor="let data of discounts;let i = index; let lastEl = last; let firstEl = first">
               <td>
                 <input class="discount" [(ngModel)]='discounts[i].minAmount'/>
               </td>
               <td>
                 <input class="discount" [(ngModel)]='discounts[i].maxAmount'/>
               </td>
               <td>
                 <input class="discount" [(ngModel)]='discounts[i].discount'/>
               </td>
               <td>
                 <input type="date"  [(ngModel)]='discounts[i].startDate'/>
               </td>
               <td>
                 <input type="date"  [(ngModel)]='discounts[i].endDate'/>
               </td>
               <td>
                 <label class="switch">
                    <input type="checkbox" [(ngModel)]='discounts[i].enable'>
                    <span class="slider round"></span>
                  </label>
               </td>
               <td *ngIf='!firstEl'>
                 <button type="button"  (click)='deleteRow(i)' class="btn btn-danger btn-sm">
                   <span>-</span>
                 </button>
               </td>
             </tr>
           </tbody>
         </table>
        <hr>
     </div>
<button class="btn btn-success btn-block fntcss"type="button" (click)='saveDiscount(discounts)' name="button">Save</button>
</div>
<div class="col"></div>
</div>
