  <div class="row cstyle justify-content-center">
   <div class="">
     <h2>Invoice</h2>
    </div>
  </div>
<div class="row cstyle dataBox" *ngIf='!invoice'>
  <div class="col"> </div>
  <div class="col-md-5 col-sm-12">
    <div class="input-group col align-self-center" style="margin-top:50px" *ngIf='!userEntry'>
      <input type="text" class="form-control" [(ngModel)]='mobile' placeholder="Enter Mobile Number" style="height:50px">
      <div class="input-group-append">
        <button class="btn btn-success fntcss" (click)="verifyUser()" type="button">Submit</button>
      </div>
    </div>
    <form *ngIf='userEntry'>
      <div class="form-group">
        <label  class="col-form-label">Name</label>
        <div class="">
          <input type="text" class="form-control form-control-sm usrInpt" name='username'  [(ngModel)]="userName" placeholder="Name">
        </div>
      </div>
      <div class="form-group">
        <label for="colFormLabelSm" class="col-form-label">Email</label>
        <div class="">
          <input type="email" class="form-control form-control-sm usrInpt" name='mail' [(ngModel)]='email' placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <label for="colFormLabelSm" class="col-form-label col-form-label-sm">Address</label>
        <div class="">
          <input type="text" class="form-control form-control-sm usrInpt" name='addr' [(ngModel)]='address'  placeholder="Address">
        </div>
      </div>
      <button class="btn btn-success btn-block fntcss" type="button" (click)='userDetails(userName,email,address)' name="button">Submit</button>
    </form>
  </div>
  <div class="col"></div>
</div>

<div class="row cstyle dataBox"  *ngIf='invoice'>
<!--generated invoice  -->
<div class="invoiceCreation container" >
  <div class="row">
    <div class="col-sm" [hidden]='InvGen'>
      <h5>{{userName | uppercase}}</h5>
      <h5>{{mobile}}</h5>
      <h5>{{email}}</h5>
      <h5>{{address}}</h5>
    </div>
    <div class="col-sm">
      <img src={{imageUrl()}}  style="width:100px;height:100px;border-radius:50px">
    </div>
    <div class="col-sm" [hidden]='InvGen'>
      <h5>Total BV = {{BV}}</h5>
      <h5>Total Points = {{rewardPoints}}</h5>
    </div>
  </div><br>
  <div class="row">
    <div class=" col-md-12" style="overflow:auto;max-height:300px">
    <table class="table">
    <thead class="thead-light fntcss">
      <tr>
        <th>#</th>
        <th>Item Name</th>
        <th>Quantity</th>
        <th>Rate</th>
        <th>Total Amount</th>
        <th>
          <button type="button"  (click)='addRow(0)' class="btn btn-success btn-sm">
          <span>+</span>
          </button>
      </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of invoiceList;let i = index; let lastEl = last; let firstEl = first">
        <td class="indx">{{i+1}}</td>
        <td class="tablecss">
          <select [(ngModel)]='invoiceList[i].item' [disabled]='InvGen' class="tablecss" style="width:200px;">
              <option *ngFor="let item of items" value={{item}}>
                  {{item}}
              </option>
          </select>
        </td>
        <td class="tablecss">
          <input class="tablecss"  type="number" min="0" (blur)='calcTotal()' [(ngModel)]='invoiceList[i].quantity' [disabled]='InvGen'/>
        </td>
        <td class="tablecss">
          <input class="tablecss"  type="number" min="0" (blur)='calcTotal()' [(ngModel)]='invoiceList[i].rate' [disabled]='InvGen'/>
        </td>
        <td class="tablecss">
          <input class="tablecss" readonly value="{{invoiceList[i].rate  * invoiceList[i].quantity | currency:'RS '}}"  [disabled]='InvGen'>
        </td>
        <td *ngIf='!firstEl'  [hidden]='InvGen'>
          <button type="button"   (click)='deleteRow(i)' class="btn btn-danger btn-sm">
            <span>-</span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-4 col-sm-6">
    <h5>Discount : <input  class="fixWidth"  (blur)='calcTotal()' [(ngModel)]='discounts' [disabled]='InvGen' />%</h5>
    <h5>Rewards : <input   class="fixWidth"  (blur)='calcTotal()' [(ngModel)]='rewards' [disabled]='InvGen' /></h5>
    <h5>Credit : <input  class="fixWidth"  [(ngModel)]='credit'  [disabled]='InvGen' style="margin-left:19px;"/></h5>
  </div>
  <div class="col-md-4">
  </div>
  <div class="col-md-4 col-sm-6">
    <h5>SubTotal :<span class="mrglv" style="margin-left:0px"> {{subTotal}}</span></h5>
    <h5>GST :<span class="mrglv" style="margin-left:34px"> <input class="fixWidth"  (blur)='calcTotal()' [(ngModel)]='gst' [disabled]='InvGen' />%</span></h5>
    <h5>Total :<span class="mrglv" style="margin-left:32px"> {{total}}</span></h5>
    <h5>Paid :<span class="mrglv" style="margin-left:37px"> {{total - credit}}</span></h5>
  </div>
</div>
<div class="row">
  <div class="col align-self-center" [hidden]="InvGen">
    <button type="button" name="button"  class="btn btn-block btn-success fntcss" (click)="submitInvoice()">Submit</button>
  </div>
  <div class="col align-self-center" [hidden]="!InvGen">
    <button type="button" name="button"  class="btn btn-block btn-primary fntcss">Generate Invoice</button>
  </div>
</div>
</div>
</div>
