<div class="row cstyle justify-content-center">
 <div class="">
   <h2>Payables</h2>
  </div>
</div>
<div class="row cstyle dataBox" *ngIf = "!model">
  <div class="col"> </div>
  <div class="col-md-5 col-sm-12">
    <div class="input-group col align-self-center" style="margin-top:50px" *ngIf='!userEntry'>
      <input type="text" class="form-control" [(ngModel)]='mobile' placeholder="Enter Mobile Number" style="height:50px">
      <div class="input-group-append">
        <button class="btn btn-success fntcss" (click)="verifyUser()" type="button">Submit</button>
      </div>
    </div>
    <form *ngIf='userEntry' #userForm="ngForm">
      <div class="form-group">
        <label  class="col-form-label">Name</label>
        <div class="">
          <input type="text" required class="form-control form-control-sm usrInpt" name='username'  [(ngModel)]="userName" placeholder="Name">
        </div>
      </div>
      <div class="form-group">
        <label for="colFormLabelSm"  class="col-form-label">Email</label>
        <div class="">
          <input type="email" required class="form-control form-control-sm usrInpt" name='mail' [(ngModel)]='email' placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <label for="colFormLabelSm" class="col-form-label col-form-label-sm">Address</label>
        <div class="">
          <input type="text" class="form-control form-control-sm usrInpt" name='addr' [(ngModel)]='address'  placeholder="Address">
        </div>
      </div>
      <button class="btn btn-success btn-block fntcss" [disabled]="!userForm.form.valid" type="button" (click)='userDetails(userName,email,address)' name="button">Submit</button>
    </form>
  </div>
  <div class="col"></div>
</div>
<!-- Payables Details -->
<div class="cstyle dataBox p-3" *ngIf = "model">
  <div class="row justify-content-around">
    <div class="col-4 mt-2">
      <h5>Name : {{name}}</h5>
      <h5>Mobile : {{mobile}}</h5>
    </div>
    <div class="col-4 mt-2" *ngIf = "model">
      <h5>Balance Amount To Pay : {{model.balAmount}}</h5>
    </div>
  </div>
  <div class="row mt-2">
    <!-- Table -->
    <div class="col-md-12 col-sm-11 tableFlow">
      <table class="table table-bordered table-hover">
        <thead class="thead-light">
          <tr class="fntcss">
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Invoice</th>
            <th scope="col">Amount</th>
            <th scope="col">PayOff</th>
          </tr>
        </thead>
        <tbody *ngIf="model && model.paybleReceivables">
          <tr *ngFor="let data of model.paybleReceivables;let i = index">
            <td>{{i+1}}</td>
            <td>
              {{data.date}}
            </td>
            <td>
              {{data.invoiceNumber}}
            </td>
            <td>
              {{data.amount}}
            </td>
            <td style="width:250px">
              <div class="input-group mb-3">
                <input  class="form-control fntcss" placeholder="Amount" [(ngModel)]="data.received">
                <div class="input-group-append">
                  <button class="btn btn-success " (click)='payAmount(data)' type="button">PayOff</button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <hr>
  <div class="row mt-2">
    <div class="col"></div>
    <div class="col-12">
      <button class="btn btn-success fntcss btn-block" type="button" (click)="addNewFun()" name="button">Add New Payable</button>
    </div>
    <div class="col"></div>
  </div>
  <hr>
  <div class="row mt-2" *ngIf="addNew">
    <div class="col"></div>
    <div class="col-8">
     <div class="input-group">
        <input  class="inps" placeholder="Enter Invoice" [(ngModel)]="newPayable.invoiceNumber"><br><br>
        <input  class="inps" placeholder="Enter Amount" [(ngModel)]="newPayable.amount"><br><br>
        <input  class="inps" placeholder="Enter Description" [(ngModel)]="newPayable.desc">
        <div class="input-group-append">
          <button class="btn btn-success fntcss btn-block inps" (click)='addPayable(newPayable)' type="button">Submit</button>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
