<nav class="navbar fixed-top bgColor">
  <a class="navbar-brand logoStyle" routerLink="/home" >SMyData</a>
  <span *ngIf="showProfile && !indProfile" style="margin-left: 600px;">Welcome to</span>
  <span *ngIf="showProfile && !indProfile" class="nav" style="margin-left: -110px;font-size:15px">
    <li class="nav-item dropdown">
   <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{selectedBU | uppercase}}</a>
   <div class="dropdown-menu">
     <span class="dropdown-item" *ngFor="let bu of businessList.businessDetails" (click)="changeBU(bu)">{{bu.companyName | uppercase}}</span>
   </div>
 </li>
  </span>
  <span class="navbar-text navRight loginsp" >
   <a class="nav-link" *ngIf="!showProfile && !indProfile" class="login">
     <span class="login" routerLink="/signIn">LOG IN</span>
   </a>
   <a class="nav-link" *ngIf="indProfile">
     <span class="" (click)="logOut()"><a>Logout</a></span>
   </a>
    <li class="nav-item dropdown pr-4" *ngIf="showProfile && !indProfile" style="list-style:none;left:-35px;">
       <a class="nav-link dropdown-toggle"   style="cursor:pointer" id="navbarDropdownMenuLink" data-toggle="dropdown">
         Profile
       </a>
       <div class="dropdown-menu" style="left:-80px;text-color:black;cursor:pointer" aria-labelledby="navbarDropdownMenuLink">
         <span class="dropdown-item" routerLink="/userData/myInfo">View Business</span>
         <span class="dropdown-item" routerLink="/userData/addNew">Add Business</span>
         <span class="dropdown-item" routerLink="/userData/businessPlan">BusinessPlan</span><hr>
         <span class="dropdown-item" (click)="logOut()">Logout</span>
       </div>
     </li>
    </span>
</nav>

<div class="renderPage">
  <router-outlet></router-outlet>
</div>
