<nav class="navbar fixed-top navStyles py-0">
  <a class="navbar-brand logo" *ngIf="!showProfile && !indProfile" routerLink="/home" >SMYDATA</a>
  <span *ngIf="showProfile && !indProfile" style="margin-left:500px">
    <li class="nav-item dropdown" style="list-style:none;font-size:1.6rem">
   <a class="nav-link dropdown-toggle" data-toggle="dropdown">Welcome to {{selectedBU}}</a>
   <div class="dropdown-menu">
     <span class="dropdown-item" style="cursor:pointer" *ngFor="let bu of businessList.businessDetails" (click)="changeBU(bu)">{{bu.companyName | uppercase}}</span>
   </div>
 </li>
  </span>
  <span class="navbar-text navRight loginsp" >
   <a class="nav-link" *ngIf="!showProfile && !indProfile">
     <span routerLink="/signIn">LOG IN</span>
   </a>
   <a class="nav-link" *ngIf="indProfile">
     <span class="" (click)="logOut()"><a>Logout</a></span>
   </a>
    <li class="nav-item dropdown pr-4" *ngIf="showProfile && !indProfile" style="list-style:none;left:-35px;">
       <a class="nav-link dropdown-toggle"   style="cursor:pointer" id="navbarDropdownMenuLink" data-toggle="dropdown">
         Profile
       </a>
       <div class="dropdown-menu" style="left:-80px;text-color:black;cursor:pointer" aria-labelledby="navbarDropdownMenuLink">
         <span class="dropdown-item" routerLink="/userData/myInfo">View Business</span>
         <span class="dropdown-item" routerLink="/userData/addNew">Add Business</span>
         <span class="dropdown-item" routerLink="/userData/businessPlan">BusinessPlan</span>
         <!-- <span class="dropdown-item" routerLink="/resetPswd">Reset Password</span> -->
         <span class="dropdown-item" (click)="logOut()">Logout</span>
       </div>
     </li>
    </span>
</nav>

<div class="renderPage">
  <router-outlet></router-outlet>
</div>
