<!-- <div class="" *ngIf ='!showbusinessList &&   this.businessEditableForm'>
  <button type="button"  class="btn btn-primary" name="button" (click)="showbusinessList = true">Show List</button>
</div>
<div  *ngIf ='showbusinessList' class="listItms">
  <h2 class="text-center">Business List</h2>
<ul class="list-group text-center" >
  <li class="list-group-item listBu" *ngFor="let item of businessList.businessDetails; let indexVal=index " (click)='viewBusinessDetails(indexVal)'>{{item.companyName}}</li>
</ul>
</div> -->

<div class="row justify-content-center">
<div class="signUp col-6" *ngIf ='!showbusinessList' style="margin-top:35px">
   <div [hidden]="submitted">
      <h1>{{formTitle}}</h1>
      <form (ngSubmit)="onSubmit(); signup.reset()" #signup="ngForm" class="signup-form">
        <div *ngIf='registrationFailed' class="alert alert-danger" (click)="registrationFailed = null">
  				<strong>{{registrationFailed}}</strong>
  			</div>
      <div class="form-group">
         <!-- <label for="name">Company Name / Business Name</label> -->
         <input type="text" class="form-control" id="name"
         required placeholder="Company Name / Business Name*"
         [(ngModel)]="model.businessDetails[0].companyName" name="name"
         #name="ngModel"/>
         <div [hidden]="name.valid || name.pristine"
            class="alert alert-danger">
            Company Name / Business Name is required
         </div>
      </div>
      <div class="form-group" *ngIf='!addNew'>
         <!-- <label for="name">Owner Name / Manager Name</label> -->
         <input type="text" class="form-control" id="ownername"
         required placeholder="Owner Name / Manager Name*"
         [(ngModel)]="model.ownerName" name="ownername"
         #ownername="ngModel" />
         <div [hidden]="ownername.valid || ownername.pristine"
            class="alert alert-danger">
            Owner Name / Manager Name is required
         </div>
      </div>
      <!-- <div class="form-group" *ngIf='!addNew'>
         <label for="name">Mobile Number</label>
         <input type="text" class="form-control" maxlength="10"
         required [readonly]="businessEditableForm" placeholder=""
         (blur)="doesUserExist(mobile.value);validation('pattern_mobile',mobile.value)"
         [(ngModel)]="model.mobile" name="mobile"
         #mobile="ngModel"/>
         <div [hidden]="mobile.valid || mobile.pristine"
            class="alert alert-danger">
            <span *ngIf='!mobilecheck'>Enter valid mobile number! Should contain 10 digits.</span>
                  <span *ngIf='mobilecheck'>Mobile Number already exist</span>
         </div>
      </div> -->
      <!-- <div class="form-group" *ngIf='!addNew'>
         <label for="name">Password</label>
         <input type="password" class="form-control" id="password" [readonly]="businessEditableForm"
         required   (blur)="validation('pattern_password',password.value)"
         [(ngModel)]="model.password" name="password" placeholder="Min 6 Characters. Must contain captial letter & digit"
         #password="ngModel"/>
         <div [hidden]="password.valid || password.pristine"
            class="alert alert-danger">
          Enter valid password ! Min 6 characters.Password must contain at least one capital alphabet and numeric digit.
         </div>
      </div> -->
      <!-- <div class="form-group" *ngIf='!addNew'>
         <label for="alterEgo">Email Address</label>
         <input type="text" class="form-control" id="email" [readonly]="businessEditableForm"
         (blur)="validation('pattern_email',email.value)" required placeholder="Henry@gmail.com"
         [(ngModel)]="model.email" #email="ngModel" name="alterEgo">
         <div [hidden]="email.valid || email.pristine"
            class="alert alert-danger">
            Email you have entered is not correct
         </div>
      </div> -->
      <div class="form-group">
         <!-- <label for="name">Business Address</label> -->
         <input type="text" class="form-control" id="businessAddr"
         required placeholder="Business Address*"
         [(ngModel)]="model.businessDetails[0].businessAddress" name="businessAddr"
         #businessAddr="ngModel"/>
         <div [hidden]="businessAddr.valid || businessAddr.pristine"
            class="alert alert-danger">
            Business Address is required
         </div>
      </div>
      <div  class="flexDiv">
      <div class="form-group flex-item-buAdd">
         <!-- <label for="name">PIN Code</label> -->
         <input type="text" class="form-control" id="pin" maxlength="6"
         required  (blur)="validation('pattern_pinCode',pin.value)" placeholder="PIN Code*"
         [(ngModel)]="model.businessDetails[0].pinCode" name="pin"
         #pin="ngModel"/>
         <div [hidden]="pin.valid || pin.pristine"
            class="alert alert-danger">
            Invalid PIN Code! Should contain 6 digits.
         </div>
      </div>
      <div  class="form-group flex-item-getAdd locationBtn">
          <button type="button" class="btn btn-success btn-block"
          [disabled]="!model.businessDetails[0].pinCode"
          (click)="update(pin.value)">
          Get Location
        </button>
      </div>
    </div>
      <div *ngIf="showAddr && model.businessDetails[0].pinCode" class="flexDiv">
         <div class="form-group flex-item">
            <!-- <label for="city">City</label> -->
            <input type="text" class="form-control" id="city" required placeholder="City"
            [(ngModel)]="model.businessDetails[0].city" name="city" #city="ngModel"/>
            <div [hidden]="city.valid || city.pristine"
               class="alert alert-danger">
               City is required
            </div>
         </div>
         <div class="form-group flex-item flex-item-middle">
            <!-- <label for="state">State</label> -->
            <input type="text" class="form-control" id="state" required placeholder="State"
            [(ngModel)]="model.businessDetails[0].state" name="state" #state="ngModel"/>
            <div [hidden]="state.valid || state.pristine"
               class="alert alert-danger">
               State is required
            </div>
         </div>
         <div class="form-group flex-item">
            <!-- <label for="country">Country</label> -->
            <input type="text" class="form-control" id="country" required placeholder="Country"
            [(ngModel)]="model.businessDetails[0].country" name="country" #country="ngModel"/>
            <div [hidden]="country.valid || country.pristine"
               class="alert alert-danger">
               Country is required
            </div>
         </div>
      </div>
      <div class="form-group">
         <!-- <label for="name">Website</label> -->
         <input type="text" class="form-control" id="website" placeholder="Website"
         [(ngModel)]="model.businessDetails[0].website" name="website"
         #website="ngModel"/>
      </div>
      <div class="dropdown-flex">
         <div class="form-group dropdown-category" >
            <!-- <label for="name">Business Category</label> -->
            <select name="state" ngModel class="form-control" id="category"
            required
            [(ngModel)]="model.businessDetails[0].category" name="category"
            #category="ngModel">
            <option value="" disabled>Select Business Category</option>
            <option *ngFor="let data of categoryInfo" [ngValue]="data.id">
            {{ data.name }}
            </option>
            </select>
         </div>
         <div class="form-group dropdown-register" >
            <!-- <label for="name">Registration Info</label> -->
            <select name="reg" ngModel class="form-control" id="reg"
            required (change)="idProofValidate(model.businessDetails[0].reg)"
            [(ngModel)]="model.businessDetails[0].reg" name="reg"
            #reg="ngModel">
            <option value="" disabled>Registration Info</option>
            <option *ngFor="let data of registerInfo" [ngValue]="data.id">
            {{ data.name }}
            </option>
            </select>
         </div>
      </div>
      <div class="form-group" *ngIf='model.businessDetails[0].reg'>
         <!-- <label for="name">Enter Id Proof Number</label> -->
         <input type="text" class="form-control" id="regDetails" [maxlength]="maxLn"
         placeholder="Enter Id Proof Number"
         required (blur)="idProofValidate(model.businessDetails[0].reg,regDetails.value);"
         [(ngModel)]="model.businessDetails[0].regProof" name="regDetails"
         #regDetails="ngModel"/>
         <div [hidden]="regDetails.valid || regDetails.pristine"
            class="alert alert-danger">
            {{idProofErrMsg}}
         </div>
      </div>
      <button type="submit" class="btn btn-success btn-block" [disabled]="!signup.form.valid" >{{formSubmitName}}</button>
      </form>
   </div>
 </div>
</div>
