<div class="row cstyle justify-content-center">
 <div class="">
   <h2> My BusinessPlan </h2>
  </div>
</div>
<div class="row justify-content-center">
  <ul class="nav nav-tabs">
  <li class="nav-item">
    <span class="nav-link listcss" id="nav-home-tab" data-toggle="tab" routerLink="/userData/businessPlan" role="tab" aria-controls="nav-home" aria-selected="true">Rewards</span>
  </li>
  <li class="nav-item">
    <span class="nav-link listcss" id="nav-profile-tab" data-toggle="tab" routerLink="/userData/discounts" role="tab" aria-controls="nav-profile" aria-selected="false">Discounts</span>
  </li>
  <li class="nav-item ">
    <span class="nav-link listcss active" id="nav-contact-tab" data-toggle="tab"routerLink="/userData/invoiceTemplate" role="tab" aria-controls="nav-contact" aria-selected="false">Invoice</span>
  </li>
</ul>
</div>
<div class="row cstyle p-3">
<!-- <div class="row col-12">
<button type="button" class="btn btn-success listcssBtn" routerLink="/userData/invoice" name="button">Create Invoice</button>
</div> -->
<hr>
  <div class="row col-12">
    <div class="col-md-4">
      <h5>David</h5>
      <h5>9671324421</h5>
      <h5>david@gmail.com</h5>
    </div>
    <div class="col">
    </div>
    <div class="col-md-4">
      <h5>Total BV:55123</h5>
      <h5>Total Points:526</h5>
    </div>
  </div>
  <div class="invoice row col-12" *ngIf='!invoiceGenerate'>
  <!-- Table -->
  <div class="inbxTxt tableFlow col-12">
    <table class="table" >
      <thead class="thead-light">
        <tr class="fntcss">
          <th scope="col">#</th>
          <th scope="col">Item Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Rate</th>
          <th scope="col">Total Amount</th>
          <th>
            <button type="button" disabled  class="btn btn-success btn-sm">
              <span>+</span>
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of invoice;let i = index; let lastEl = last; let firstEl = first">
          <td style="width:30px">{{i+1}}</td>
          <td class="thsize">
            <select [(ngModel)]='invoice[i].item' class="tablecss" disabled>
                <option *ngFor="let item of items" value={{item}}>
                    {{item}}
                </option>
            </select>
            <!-- <input class="discount" type="number" min="0" [(ngModel)]='discounts[i].minAmount'/> -->
          </td>
          <td class="thsize">
            <input class="quantity tablecss" readonly type="number" min="0" [(ngModel)]='invoice[i].quantity'/>
          </td>
          <td class="thsize">
            <input class="rate tablecss" readonly type="number" min="0" [(ngModel)]='invoice[i].rate'/>
          </td>
          <td class="thsize">
            <input readonly class="tablecss" value="{{invoice[i].rate  * invoice[i].quantity | currency:'RS '}}">
          </td>
          <td class="thsize" *ngIf='!firstEl'>
            <button type="button" disabled  (click)='deleteRow(i)' class="btn btn-danger btn-sm">
              <span>-</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div><hr>
  <div class="discount pl-4">
    <h5>Sub-Total: 7350 </h5>
    <h5>Discount: <input  readonly class="inbox"  name="discount" value="20">%</h5>
    <h5>Rewards: <input  readonly class="inbox" name="reward" value="200"></h5>
    <h5>Total:  5880 </h5>
  </div>
  <div class="row col-12">
    <button type="button" name="button" disabled class="btn btn-block btn-success fntcss" (click)="submitInvoice()">Submit</button>
  </div>
</div>

</div>
