.contact{
  background-color: #0E2426;
  color: #ECF0D0;
}
.imgBg,.services{
  background: linear-gradient(to right, rgb(16, 141, 199), rgb(239, 142, 56));
  color: #0E2426;
}
.title{
  font-size: 1.5rem;
  transition-property: font-size;
  transition-duration: 4s;
}
.title:hover{
  font-size: 8rem;
}
.img-rounded{
  border-radius: 50%;
}
