/* You can add global styles to this file, and also import other style files */
@import "ng5-toastr/ng5-toastr.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";


body{
  background: #66A4AC;
  /* background: linear-gradient(to right, rgb(211, 223, 228), rgb(214, 189, 166)); /* lightcrm */ */
  background-color: #F5F5F5; /* lightcrm */
  color: black;
font-family: Rokkitt, serif;
}

h1{
  text-align: center;
}
.bg-grey {
    background-color: #f6f6f6;
}
.center20{
  padding: 20px
}
.inbxTxt{
  color: black;
}
.cstyle{
  background:#C4DFE6;
  border-radius: 10px;
  margin: 2px;
  padding: 10px;
}
.dataBox{
  min-height: 355px;
}
.tableFlow{
  max-height: 450px;
  overflow: auto;
}
.fntcss{
  font-size: 1.2rem;
}
.headerTble{
  font-size: x-large;
  /* font-family: Roboto; */
  color: #FFF;
}
.headerCss{
  background-color: #000;
}
.cursr{
  cursor: pointer;
}
