/* You can add global styles to this file, and also import other style files */
@import "ng5-toastr/ng5-toastr.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";



body{
  /* background-color: #1AC2A1; /* Green */
  background-color: #F5F5F5; /* lightcrm */
  /* background-color: #1abc9c; /* Green */
  color: black;
  font-family: Roboto;
}
h1, h2, h3, h4, h5, h6, a{
  font-family: Roboto;
}
h1{
  text-align: center;
}
.bg-grey {
    background-color: #f6f6f6;
}
.center20{
  padding: 20px
}
.inbxTxt{
  color: black;
}
.cstyle{
  background-color: #ffffff;
  border-radius: 10px;
  margin: 2px;
  padding: 10px;
}
.dataBox{
  min-height: 355px;
}
.tableFlow{
  max-height: 450px;
  overflow: auto;
}
.fntcss{
  font-size: 1.5rem;
}
.headerTble{
  font-size: x-large;
  font-family: Roboto;
  color: #FFF;
}
.headerCss{
  background-color: #000;
}
.cursr{
  cursor: pointer;
}
