.dropdown:hover>.dropdown-menu {
  display: block;
}
.profileView{
  margin-left: 1000px;
}
.drpBtn{
  width: 150px;
}
.myInfoDetails{
width:200px;
}
.sub-view{
  /* background-color:  #C3DEE5; */
}
.example-container {
  width: 400px;
  height: 200px;
  margin: 10px;
  border: 1px solid #555;
}

/* .textStyle{
  font-style: italic;
  margin-top: 74px;
} */
.listcss{
  padding: 17px;
  font-size: 1.5rem;
  background:#C3DEE5
}
.listcss:hover{
  cursor: pointer;
  background-color: #06575B;
  color: #ECF0D0 !important;
}
